In [1]:
import pandas as pd

In [2]:
Grocery_json = pd.read_json('Resources/Grocery_and_Gourmet_Food.json',lines=True)

In [3]:
Grocery_json

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,image,style
0,5,True,"06 4, 2013",ALP49FBWT4I7V,1888861614,Lori,Very pleased with my purchase. Looks exactly l...,Love it,1370304000,NaN,NaN,NaN
1,4,True,"05 23, 2014",A1KPIZOCLB9FZ8,1888861614,BK Shopper,Very nicely crafted but too small. Am going to...,Nice but small,1400803200,NaN,NaN,NaN
2,4,True,"05 9, 2014",A2W0FA06IYAYQE,1888861614,daninethequeen,still very pretty and well made...i am super p...,"the ""s"" looks like a 5, kina",1399593600,NaN,NaN,NaN
3,5,True,"04 20, 2014",A2PTZTCH2QUYBC,1888861614,Tammara,"I got this for our wedding cake, and it was ev...",Would recommend this to a friend!,1397952000,NaN,NaN,NaN
4,4,True,"04 16, 2014",A2VNHGJ59N4Z90,1888861614,LaQuinta Alexander,It was just what I want to put at the top of m...,Topper,1397606400,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5074155,5,True,"10 4, 2018",AGOPF2VTEOP57,B01HJHSVG6,Bob,"Love this product, very fresh, complete full f...",Exceclent product,1538611200,NaN,NaN,{'Size:': ' 2.29 oz'}
5074156,3,True,"10 3, 2018",A5X5TI4JCH9CN,B01HJHSVG6,Jacqueline Schafer,Good taste but small quantity for the expensiv...,Good taste but small quantity for the price us...,1538524800,NaN,NaN,{'Size:': ' 2.29 oz'}
5074157,4,True,"10 2, 2018",A1WMQQLC3TVAFI,B01HJHSVG6,Motionjunkie,Unlike some of the bad reviews regarding aroma...,See Comments below,1538438400,NaN,NaN,{'Size:': ' 2.29 oz'}
5074158,5,True,"09 30, 2018",ALVP6JZRTEDY6,B01HJHSVG6,Marissa,I absolutely love this vanilla bean paste. I h...,Love!!,1538265600,NaN,NaN,{'Size:': ' 2.29 oz'}
5074159,5,True,"09 29, 2018",AZFPVUZOVGBYR,B01HJHSVG6,Amazon Customer,So delicious!,Worth it,1538179200,NaN,NaN,{'Size:': ' 2.29 oz'}

In [4]:
Grocery_json.columns

Index(['overall', 'verified', 'reviewTime', 'reviewerID', 'asin',
       'reviewerName', 'reviewText', 'summary', 'unixReviewTime', 'vote',
       'image', 'style'],
      dtype='object')

In [8]:
#count the number of words in a review
#review_length = len()
#review_length

In [10]:
groceries_df = Grocery_json[['overall','reviewerID', 'reviewTime','unixReviewTime', 'reviewText']]
groceries_df

,overall,reviewerID,reviewTime,unixReviewTime,reviewText
0,5,ALP49FBWT4I7V,"06 4, 2013",1370304000,Very pleased with my purchase. Looks exactly l...
1,4,A1KPIZOCLB9FZ8,"05 23, 2014",1400803200,Very nicely crafted but too small. Am going to...
2,4,A2W0FA06IYAYQE,"05 9, 2014",1399593600,still very pretty and well made...i am super p...
3,5,A2PTZTCH2QUYBC,"04 20, 2014",1397952000,"I got this for our wedding cake, and it was ev..."
4,4,A2VNHGJ59N4Z90,"04 16, 2014",1397606400,It was just what I want to put at the top of m...
...,...,...,...,...,...
5074155,5,AGOPF2VTEOP57,"10 4, 2018",1538611200,"Love this product, very fresh, complete full f..."
5074156,3,A5X5TI4JCH9CN,"10 3, 2018",1538524800,Good taste but small quantity for the expensiv...
5074157,4,A1WMQQLC3TVAFI,"10 2, 2018",1538438400,Unlike some of the bad reviews regarding aroma...
5074158,5,ALVP6JZRTEDY6,"09 30, 2018",1538265600,I absolutely love this vanilla bean paste. I h...
5074159,5,AZFPVUZOVGBYR,"09 29, 2018",1538179200,So delicious!

In [ ]:
# add review_length to the df
#groceries_df = groceries_df

In [11]:
#drop dupicates
groceries_df = groceries_df.drop_duplicates()
groceries_df

,overall,reviewerID,reviewTime,unixReviewTime,reviewText
0,5,ALP49FBWT4I7V,"06 4, 2013",1370304000,Very pleased with my purchase. Looks exactly l...
1,4,A1KPIZOCLB9FZ8,"05 23, 2014",1400803200,Very nicely crafted but too small. Am going to...
2,4,A2W0FA06IYAYQE,"05 9, 2014",1399593600,still very pretty and well made...i am super p...
3,5,A2PTZTCH2QUYBC,"04 20, 2014",1397952000,"I got this for our wedding cake, and it was ev..."
4,4,A2VNHGJ59N4Z90,"04 16, 2014",1397606400,It was just what I want to put at the top of m...
...,...,...,...,...,...
5074155,5,AGOPF2VTEOP57,"10 4, 2018",1538611200,"Love this product, very fresh, complete full f..."
5074156,3,A5X5TI4JCH9CN,"10 3, 2018",1538524800,Good taste but small quantity for the expensiv...
5074157,4,A1WMQQLC3TVAFI,"10 2, 2018",1538438400,Unlike some of the bad reviews regarding aroma...
5074158,5,ALVP6JZRTEDY6,"09 30, 2018",1538265600,I absolutely love this vanilla bean paste. I h...
5074159,5,AZFPVUZOVGBYR,"09 29, 2018",1538179200,So delicious!

In [12]:
rating_5 = groceries_df.loc[groceries_df['overall'] == 5]
rating_5

,overall,reviewerID,reviewTime,unixReviewTime,reviewText
0,5,ALP49FBWT4I7V,"06 4, 2013",1370304000,Very pleased with my purchase. Looks exactly l...
3,5,A2PTZTCH2QUYBC,"04 20, 2014",1397952000,"I got this for our wedding cake, and it was ev..."
6,5,A94ZG5CWN70E7,"12 1, 2013",1385856000,Omg.. The S was inexpensive and EXACTLY what w...
8,5,AGKW3A1RB1YGO,"10 2, 2013",1380672000,Perfect!!! Can not wait to use on my Wedding c...
9,5,A1B65IWLUVOUQB,"09 6, 2013",1378425600,This was exactly what we were looking for to m...
...,...,...,...,...,...
5074153,5,A1VL40O7D88AY0,"10 4, 2018",1538611200,Love this Vanilla. Blends and bakes beautifully.
5074154,5,A1LBAF0CNISB04,"10 4, 2018",1538611200,You'll never go back to plain ol' Vanilla Extr...
5074155,5,AGOPF2VTEOP57,"10 4, 2018",1538611200,"Love this product, very fresh, complete full f..."
5074158,5,ALVP6JZRTEDY6,"09 30, 2018",1538265600,I absolutely love this vanilla bean paste. I h...
5074159,5,AZFPVUZOVGBYR,"09 29, 2018",1538179200,So delicious!

In [13]:
rating_1 = groceries_df.loc[groceries_df['overall'] == 1]
rating_1

,overall,reviewerID,reviewTime,unixReviewTime,reviewText
5,1,ATQL0XOLZNHZ4,"02 21, 2014",1392940800,"The S is beautiful, however upon checkout it i..."
22,1,AE937MVR5J8OL,"12 10, 2016",1481328000,Tasted old and not individually bag
27,1,A27LF8222OIRRN,"09 10, 2016",1473465600,Not the great taste everyone was talking about :(
37,1,A34RH95REHOQFO,"09 25, 2015",1443139200,Terrible. What a waste of money. This is not t...
69,1,A3ELDSSPP9RZPG,"03 31, 2017",1490918400,The tea is so fine it leaves tea particles flo...
...,...,...,...,...,...
5074102,1,A2CSMC3CQE2SPP,"07 28, 2018",1532736000,"I wish I loved this, but the truth is, it tast..."
5074110,1,A1ZO0PE7RT0IKK,"05 19, 2017",1495152000,Followed instructions on the package to prepar...
5074111,1,A1T8D0SC1P04CZ,"09 8, 2018",1536364800,For my grandson. Arrived broken into crumbs.
5074112,1,A3TG44X2A5WTP5,"08 27, 2018",1535328000,These are delicious cookies - just don't order...
5074120,1,A33SA5P6IOEATJ,"10 10, 2016",1476057600,Can't say he product is good as is practically...

In [14]:
rating_2 = groceries_df.loc[groceries_df['overall'] == 2]
rating_2

,overall,reviewerID,reviewTime,unixReviewTime,reviewText
46,2,A1EDAUU1B7YGTD,"05 7, 2015",1430956800,Mediocre taste and not like the yellow label f...
55,2,A36N7FI7QREIH7,"01 10, 2015",1420848000,"Lipton Yellow is normally great premium tea, b..."
77,2,AA3RFH4XSLRF,"01 28, 2017",1485561600,"Good for Lipton fans maybe, but not so good fo..."
100,2,A3T7ACW6DIECL,"09 8, 2015",1441670400,Just not that good.
166,2,A38YPICAU2VDU8,"09 10, 2016",1473465600,i love reishi coffee...but I prefer no sugar. ...
...,...,...,...,...,...
5074029,2,A38ME72ZVZ3UQD,"09 15, 2016",1473897600,"Didn't care for the pork, the rest were just OK."
5074084,2,A1CHF9VHRDTTO5,"09 10, 2018",1536537600,"I received this candy today, it arrived in pr..."
5074115,2,AHDO6UIU1Y68O,"10 12, 2017",1507766400,Cookies came broken in pieces.
5074116,2,A2RZH38UWWX059,"09 25, 2017",1506297600,These were smashed to bits upon delivery. For ...
5074142,2,AWG7PU0OYQTHE,"06 21, 2017",1498003200,Honestly not my favorite product from this com...

In [15]:
rating_3 = groceries_df.loc[groceries_df['overall'] == 3]
rating_3

,overall,reviewerID,reviewTime,unixReviewTime,reviewText
7,3,A3QBT8YC3CZ7C9,"11 6, 2013",1383696000,It was a nice size for a cake topper and it wa...
40,3,A165AME4SLYDWD,"08 23, 2015",1440288000,Same product and name as the tea I've bought a...
60,3,A29LPNLNZ7E2XI,"11 23, 2014",1416700800,"Normally this tea rates 5 stars, it has a wond..."
67,3,A1YA5QHMETOVC8,"05 21, 2009",1242864000,I have been a Lipton loose tea junkie for 50 y...
68,3,ACOICLIJQYECU,"04 11, 2008",1207872000,I have recently started drinking hot tea again...
...,...,...,...,...,...
5074089,3,A2OWJLIXWRH7SI,"02 1, 2018",1517443200,"I'm a spice fiend, but I can't say this add al..."
5074134,3,A143ZDYT3UZSJR,"08 1, 2018",1533081600,"I expected more truffle flavor, especially for..."
5074144,3,A1P0X9E6F99J4T,"05 20, 2017",1495238400,Needs improvement to make it taste like real r...
5074149,3,A3NY9RMNIODSDW,"09 12, 2016",1473638400,Expensive and could have bought at local store...
5074156,3,A5X5TI4JCH9CN,"10 3, 2018",1538524800,Good taste but small quantity for the expensiv...

In [16]:
rating_4 = groceries_df.loc[groceries_df['overall'] == 4]
rating_4

,overall,reviewerID,reviewTime,unixReviewTime,reviewText
1,4,A1KPIZOCLB9FZ8,"05 23, 2014",1400803200,Very nicely crafted but too small. Am going to...
2,4,A2W0FA06IYAYQE,"05 9, 2014",1399593600,still very pretty and well made...i am super p...
4,4,A2VNHGJ59N4Z90,"04 16, 2014",1397606400,It was just what I want to put at the top of m...
17,4,A21ZU2TINEQE0H,"02 8, 2014",1391817600,Tried this while overseas last year; don't rem...
38,4,A19TFNGQV7GPSX,"09 21, 2015",1442793600,"Just so everyone knows, this IS the orange pek..."
...,...,...,...,...,...
5074133,4,A2CC652MJ0FX7E,"07 27, 2016",1469577600,This item arrived a little faster than the ori...
5074135,4,AO0QVVFS0P2GU,"08 15, 2017",1502755200,OK and without eggs.
5074146,4,A1AZD3IIOFDLPC,"03 12, 2018",1520812800,Very tasty. The individual packaging creates a...
5074151,4,A1EET7MJO4KKX2,"10 7, 2018",1538870400,This is only the 2nd kind of vanilla paste I h...
5074157,4,A1WMQQLC3TVAFI,"10 2, 2018",1538438400,Unlike some of the bad reviews regarding aroma...

In [17]:
groceries_df_12_45 = groceries_df[groceries_df.overall != 3]
groceries_df_12_45

,overall,reviewerID,reviewTime,unixReviewTime,reviewText
0,5,ALP49FBWT4I7V,"06 4, 2013",1370304000,Very pleased with my purchase. Looks exactly l...
1,4,A1KPIZOCLB9FZ8,"05 23, 2014",1400803200,Very nicely crafted but too small. Am going to...
2,4,A2W0FA06IYAYQE,"05 9, 2014",1399593600,still very pretty and well made...i am super p...
3,5,A2PTZTCH2QUYBC,"04 20, 2014",1397952000,"I got this for our wedding cake, and it was ev..."
4,4,A2VNHGJ59N4Z90,"04 16, 2014",1397606400,It was just what I want to put at the top of m...
...,...,...,...,...,...
5074154,5,A1LBAF0CNISB04,"10 4, 2018",1538611200,You'll never go back to plain ol' Vanilla Extr...
5074155,5,AGOPF2VTEOP57,"10 4, 2018",1538611200,"Love this product, very fresh, complete full f..."
5074157,4,A1WMQQLC3TVAFI,"10 2, 2018",1538438400,Unlike some of the bad reviews regarding aroma...
5074158,5,ALVP6JZRTEDY6,"09 30, 2018",1538265600,I absolutely love this vanilla bean paste. I h...
5074159,5,AZFPVUZOVGBYR,"09 29, 2018",1538179200,So delicious!

In [19]:
#choosing every second row of the five star rating for a total of 600,000 to reduce its size from around 3.5 million ratings to a number closer to the 1 star ratings. 
rating_5_trimmed = rating_5[:1200000:2]
rating_5_trimmed

,overall,reviewerID,reviewTime,unixReviewTime,reviewText
0,5,ALP49FBWT4I7V,"06 4, 2013",1370304000,Very pleased with my purchase. Looks exactly l...
6,5,A94ZG5CWN70E7,"12 1, 2013",1385856000,Omg.. The S was inexpensive and EXACTLY what w...
9,5,A1B65IWLUVOUQB,"09 6, 2013",1378425600,This was exactly what we were looking for to m...
11,5,A1QVBUH9E1V6I8,"11 19, 2014",1416355200,No adverse comment.
13,5,A2CHH5U12THP2D,"11 3, 2014",1414972800,Best black tea in US.\n\nHighly recommend.\nI ...
...,...,...,...,...,...
1887403,5,A2U6LHY7C8NX2O,"10 27, 2014",1414368000,GREAT
1887405,5,A1CY3RZDF9J1QE,"10 17, 2014",1413504000,They don't taste healthy! Love these
1887407,5,A2DUF3NYSYKIZI,"10 9, 2014",1412812800,The best on the market and the lowest carbs!
1887410,5,A2MPRJJLG5J94L,"09 23, 2014",1411430400,If you are living in the low-carb world you ne...
1887413,5,A3R3T7V9ZU2L7E,"09 5, 2014",1409875200,These things taste identical to real tortillas!

In [20]:
groceries_df_1_5 = [rating_5_trimmed, rating_1]
groceries_df_1_5
groc_1_5 = pd.concat(groceries_df_1_5)
groc_1_5

,overall,reviewerID,reviewTime,unixReviewTime,reviewText
0,5,ALP49FBWT4I7V,"06 4, 2013",1370304000,Very pleased with my purchase. Looks exactly l...
6,5,A94ZG5CWN70E7,"12 1, 2013",1385856000,Omg.. The S was inexpensive and EXACTLY what w...
9,5,A1B65IWLUVOUQB,"09 6, 2013",1378425600,This was exactly what we were looking for to m...
11,5,A1QVBUH9E1V6I8,"11 19, 2014",1416355200,No adverse comment.
13,5,A2CHH5U12THP2D,"11 3, 2014",1414972800,Best black tea in US.\n\nHighly recommend.\nI ...
...,...,...,...,...,...
5074102,1,A2CSMC3CQE2SPP,"07 28, 2018",1532736000,"I wish I loved this, but the truth is, it tast..."
5074110,1,A1ZO0PE7RT0IKK,"05 19, 2017",1495152000,Followed instructions on the package to prepar...
5074111,1,A1T8D0SC1P04CZ,"09 8, 2018",1536364800,For my grandson. Arrived broken into crumbs.
5074112,1,A3TG44X2A5WTP5,"08 27, 2018",1535328000,These are delicious cookies - just don't order...
5074120,1,A33SA5P6IOEATJ,"10 10, 2016",1476057600,Can't say he product is good as is practically...

In [21]:
g1_5 = pd.merge(rating_5_trimmed, rating_1, how='outer')
g1_5

,overall,reviewerID,reviewTime,unixReviewTime,reviewText
0,5,ALP49FBWT4I7V,"06 4, 2013",1370304000,Very pleased with my purchase. Looks exactly l...
1,5,A94ZG5CWN70E7,"12 1, 2013",1385856000,Omg.. The S was inexpensive and EXACTLY what w...
2,5,A1B65IWLUVOUQB,"09 6, 2013",1378425600,This was exactly what we were looking for to m...
3,5,A1QVBUH9E1V6I8,"11 19, 2014",1416355200,No adverse comment.
4,5,A2CHH5U12THP2D,"11 3, 2014",1414972800,Best black tea in US.\n\nHighly recommend.\nI ...
...,...,...,...,...,...
982920,1,A2CSMC3CQE2SPP,"07 28, 2018",1532736000,"I wish I loved this, but the truth is, it tast..."
982921,1,A1ZO0PE7RT0IKK,"05 19, 2017",1495152000,Followed instructions on the package to prepar...
982922,1,A1T8D0SC1P04CZ,"09 8, 2018",1536364800,For my grandson. Arrived broken into crumbs.
982923,1,A3TG44X2A5WTP5,"08 27, 2018",1535328000,These are delicious cookies - just don't order...
982924,1,A33SA5P6IOEATJ,"10 10, 2016",1476057600,Can't say he product is good as is practically...

In [ ]:
groceries_csv = g1_5.to_csv(path_or_buf='groceries_trimmed.csv', index=False)